@page "/"

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

<button class="btn-success" @onclick="CopyText">Copy Text</button>

<button class="btn-primary" @onclick="CopyNumber">Copy Number</button>

<button class="btn-danger" @onclick="AlertText">Alert Value</button>

@code {
    private async void CopyText()
    {
        await Interop.Call("Conforyon.Board.Text.CopyText", "Taiizor is King!");
    }

    private async void CopyNumber()
    {
        await Interop.Call("Conforyon.Board.Text.CopyInteger", 1001);
    }

    private async void AlertText()
    {
        await Interop.Call("alert", await Interop.CallString("Conforyon.Board.Text.PasteText", true, "Value is Empty!"));
    }
}