.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }
}