@inject IJSRuntime JS
@inherits LayoutComponentBase

<div class="page">
	<main>
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

@code{
	protected override void OnInitialized()
	{
        _ = new Interop(JS, new()
        {
            { JavascriptEnum.Custom, false },
            { JavascriptEnum.Taiizor, true },
            { JavascriptEnum.AppCenter, false },
            { JavascriptEnum.Conforyon, false }
        });
        
		base.OnInitialized();
	}
}