@page "/"

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

<button class="btn-success" @onclick="TestCrash">Test Crash</button>

<button class="btn-primary" @onclick="TrackEvent">Track Event</button>

<button class="btn-danger" @onclick="TrackError">Track Error</button>

@code {
    private void TestCrash()
    {
        AppCenterService.TestCrash();
    }

    private void TrackEvent()
    {
        AppCenterService.TrackEvent("Bomb!");
    }

    private void TrackError()
    {
        try
        {
            _ = Convert.ToInt32("Death!");
        }
        catch (Exception Ex)
        {
            AppCenterService.TrackError(Ex);
        }
    }
}