@page "/function"

<a href="">Return Home</a>

<h3>Function</h3>

<button class="btn btn-success" id="53X" @onclick="Call">Click Me</button>

<h5>@Text</h5>

@code {
    private string Text { get; set; } = "Empty";

    [JSInvokable("SetText")]
    //[JSInvokableAttribute("SetText")]
    public void SetText(string text)
    {
        Text = text;

        StateHasChanged();
    }

    private async void Call()
    {
        await Invoke.Method(DotNetObjectReference.Create(this), "SetText", "Whooaa!");

        //await Invoke.Method("BasicExample", "SetText", "Whooaa!");
        //await Invoke.Method(Project.Name, "SetText", "Whooaa!");
    }
}